<div class="container">
  <div class="row">

  <% @snippets.each do |snippet| %>
    <div class="col-md-4">
      <h1 class="text-center"><%= snippet.title %></h1>
      <hr/>
      <h3><%= snippet.language %></h3>
      <p><%= link_to time_ago_in_words(snippet.created_at) + " ago", snippet %></p>
      <code><%= snippet.snippet %></code>
       <br/>      
        
        <td><%= link_to 'Edit', edit_snippet_path(snippet), class: 'btn btn-default' %></td>
        <td><%= link_to 'Destroy', snippet, class: 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </div>            
  <% end %>
  </div>
</div>